
/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    background-color: #eee;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header and footer styles */

header, footer {
    height: 75px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link {
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.github-logo {
    height: 45px;
}

/* Calculator styles */

.calc {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7.5px;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 7.5px;
}

.output {
    width: 100%;
    padding: 0 15px;
    background-color: #e3e3e3;
    border: 2px solid #bbb;
    border-radius: 25px;
    color: #222;
    font-size: 37.5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 0;
    background-color: #bbb;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #222;
    font-family: inherit;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn:hover {
    background-color: #ccc;
}

.btn:active {
    background-color: #aaa;
}

.xl-btn {
    flex: 2.05;
}

.xxl-btn {
    flex: 3.1;
}

.btn:last-child {
    background-color: rgb(240, 150, 75);
    color: white;
}

.btn:last-child:hover {
    background-color: rgb(255, 165, 83);
}

.btn:last-child:active {
    background-color: rgb(218, 135, 67);
}

@media (max-width: 400px) and (max-aspect-ratio: 8/15) {
    header, footer {
        height: 18.75vw;
    }

    .github-link {
        font-size: 7.5vw;
        gap: 7.5vw;
    }

    .github-logo {
        height: 11.25vw;
    }

    .calc {
        height: 150vw;
        width: 100vw;
        gap: 1.875vw;
    }

    .calc-row {
        gap: 1.875vw;
    }

    .output {
        padding: 0 3.75vw;
        border-radius: 6.25vw;
        font-size: 9.375vw;
    }

    .btn {
        border-radius: 6.25vw;
        font-size: 7.5vw;
    }
}

@media (max-height: 750px) and (min-aspect-ratio: 8/15) {
    header, footer {
        height: 10vh;
    }

    .github-link {
        font-size: 4vh;
        gap: 4vh;
    }

    .github-logo {
        height: 6vh;
    }

    .calc {
        height: 80vh;
        width: 53.33vh;
        gap: 1vh;
    }

    .calc-row {
        gap: 1vh;
    }

    .output {
        padding: 0 2vh;
        border-radius: 3.33vh;
        font-size: 5vh;
    }

    .btn {
        border-radius: 3.33vh;
        font-size: 4vh;
    }
}