
/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header and footer styles */

header, footer {
    height: 75px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link {
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.github-logo {
    height: 45px;
}

/* Calculator styles */

.calc {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7.5px;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 7.5px;
}

.output {
    width: 100%;
    padding: 0 15px;
    background-color: #e3e3e3;
    border: 2px solid #bbb;
    border-radius: 25px;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.operation {
    font-size: 18px;
}

.result {
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 0;
    background-color: #bbb;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #222;
    font-family: inherit;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn:hover {
    background-color: #ccc;
}

.btn:active {
    background-color: #aaa;
}

.xl-btn {
    flex: 2.05;
}

.xxl-btn {
    flex: 3.1;
}

.btn:last-child {
    background-color: rgb(240, 150, 75);
    color: white;
}

.btn:last-child:hover {
    background-color: rgb(255, 165, 83);
}

.btn:last-child:active {
    background-color: rgb(218, 135, 67);
}

@media (max-width: 457px) and (max-aspect-ratio: 8/15) {
    #container {
        justify-content: flex-start;
    }

    header, footer {
        height: 16.41vw;
    }

    .github-link {
        font-size: 6.56vw;
        gap: 6.56vw;
    }

    .github-logo {
        height: 9.84vw;
    }

    .calc {
        height: 131.25vw;
        width: 87.5vw;
        gap: 1.64vw;
    }

    .calc-row {
        gap: 1.64vw;
    }

    .output {
        padding: 0 3.28vw;
        border-radius: 5.47vw;
        font-size: 8.2vw;
    }

    .btn {
        border-radius: 5.47vw;
        font-size: 6.56vw;
    }
}

@media (max-height: 857px) and (min-aspect-ratio: 8/15) {
    #container {
        justify-content: flex-start;
    }

    header, footer {
        height: 8.75vh;
    }

    .github-link {
        font-size: 3.5vh;
        gap: 3.5vh;
    }

    .github-logo {
        height: 5.25vh;
    }

    .calc {
        height: 70vh;
        width: 46.67vh;
        gap: 0.875vh;
    }

    .calc-row {
        gap: 0.875vh;
    }

    .output {
        padding: 0 1.75vh;
        border-radius: 2.92vh;
        font-size: 4.375vh;
    }

    .btn {
        border-radius: 2.92vh;
        font-size: 3.5vh;
    }
}